header {
  background-color: #db6f6f;
  color: rgb(234, 230, 230);
  padding: 1rem;
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin: 0 10px;
}
nav a {
  color: rgb(16, 15, 15);
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}   
.head {
  background-color: #f3efef;
  color: rgb(171, 29, 29);
  
}
header .active a{
  background-color: red;
}
marquee {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgb(9, 9, 9);
    z-index: 999;
    display: block;
    margin-top: 50px;
}

marquee a {
    color: aqua;
    text-decoration: none;
    font-size: 18px;
}
.img1{
   width: 100%;
    min-height: 10vh;   /* full screen height */
    padding: 40px;
    box-sizing: border-box;
}

