{%   include "header.html" %}
   



<div class="ccc">
      <img src="/static/treeImage.jpg" width="1500px" height="400px" />
    </div>
    <div class="main3">

        <h4>It is impossible to overstate how essential plants are to our existence; they are the literal foundation of life on Earth. Through the process of photosynthesis, plants act as the world’s lungs, converting carbon dioxide into the oxygen we breathe while simultaneously providing the primary source of food for almost every living creature. Beyond these basic biological needs, plants regulate our climate, protect our soil from erosion, and offer the raw materials for medicine, shelter, and clothing. Without the quiet, constant work of plant life, our planet would be a barren wasteland incapable of supporting human life.<h4>

    </div>
    <div class="main2">
<h2>Causes of disease in leaf of plant: </h2>
        <h4> Plant leaf diseases are generally categorized into two types based on their cause: biotic (infectious) and abiotic (non-infectious) factors. Biotic diseases are caused by living pathogens such as fungi, bacteria, and viruses, which can spread from one plant to another. In contrast, abiotic disorders are caused by non-living environmental factors, such as nutrient deficiencies, extreme temperatures, or improper watering, and they are not transmissible between plants.<h4>

    </div>

   <div class="main2">
<h2>Reference: </h2>
      <li>Plant Diseases (11th Edition, 2024) by R.S. Singh</li>
      <li>A review of plant leaf fungal diseases and its environment (NIH)</li>
       
    </div>


    {%  include "footer.html"  %}
