 
 <footer>
    <!-- <div class="social-links">
      <a href="https://facebook.com" target="_blank">📘</a>
      <a href="https://twitter.com" target="_blank">🐦</a>
      <a href="https://instagram.com" target="_blank">📸</a>
    </div> -->
    <!-- <p>
      <a href="#">Home</a> |
      <a href="#about">About</a> |
      <a href="#contact">Contact</a> |
      <a href="#privacy">Privacy Policy</a>
    </p> -->
    <div class="copyright">
      &copy; 2026 Your Company. All rights reserved.
    </div>
  </footer>
</body>
</html>